div.left-page img {
  width: 250px;
  height: 250px;
  cursor: pointer;
  /* transition: all .3s ease-in-out; */
}

/* div.left-page img:hover {
    width: 300px;
    height: 300px;
  } */

  div.membre{
    margin-top: 50px;
  }

  legend{
    font-size: 1em;
    font-style: italic;
  }

  .space{
    margin-bottom: 8px;
  }

  .marg{
    margin-bottom: -15px;
  }