
<div class="neg-container">
<div class="form-group">
    <fieldset>
       <legend>Veuillez saisir votre commentaire:</legend>
       <form #feedBackForm="ngForm" (ngSubmit)="submit(feedBackForm)"> 
            <br />
            <textarea [(ngModel)]= "feedBack.feedBackText" name="commentaire"  cols="61" rows="5"></textarea>
            <br />
           <button class="btn btn-primary">Valider</button>
           <hr>
           <div *ngIf="messageComment" class="alert alert-info col-md-12">
					  {{messageComment}}
					</div>
        </form>
    </fieldset>
  </div>

</div>



 